# Don't commit system files or dependencies
*.DS_STORE
node_modules/

# Ensure Hugo builds aren't commited to git
public/
hugo/public/
dist/
.tmp/

site/data/webpack.json
admin/

# Don't commit log files
/npm-debug.log
yarn-error.log